@model XoperoUI.Models.Home.HostingModel

@{
    ViewData["Title"] = "Manage Issue";
}

<div class="text-center">
    <h1 class="display-4">Welcome! You can manage issues from @Model.HostingName</h1>
</div>
